	runDir			"@@RUNDIR@@"
	library		"@@LIBRARY@@"
	topCell		"@@TOPCELL@@"
	view		"@@VIEW@@"
	strmFile		"@@STRMFILE@@"
	hierDepth		32
	maxVertices		200
	refLibList		""
	strmVersion		"5"
	arrayInstToScalar
	case	"preserve"
	convertDot	"ignore"
	logFile		"@@LOGFILE@@"
	cellMap		""
	layerMap		"@@LAYERMAP@@"
	fontMap		""
	convertPin		"geometry"
	pinAttNum		1
	propMap     ""
	userSkillFile   ""
	viaMap  ""
	summaryFile     ""
	techLib     ""
	objectMap   ""
